* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;

}

#main-container {

    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, yellow, red, pink, rgb(133, 3, 220));
    height: 800px;
    margin-top: 5%;
    gap: 1rem;


}

.head-container {

    display: flex;
    margin-right: 50%;
    gap: 2rem;
    font-weight: bold;

}

.start {
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.move,
.time {
    color: white;
    font-size: 30px;
}


.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    width: 70%;
    background: linear-gradient(to top right, yellow, red, pink, rgb(133, 3, 220));
    border-radius: 10px;
    border: 2px silver;
    box-shadow: 0 0 2px gray;
    cursor: pointer;

}

.card {
    width: 20%;
    height: 20%;
    transition: transform 1s;
    transform-style: preserve-3d;


}

/* .card:onclick{
    cursor: pointer;
    transform: rotateY(180deg);
} */

.img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}



.front {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    backface-visibility: hidden;


}

@media (max-width:460px) {


    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #main-container {
        flex-basis: 90%;
    }

    .head-container {
        margin-right: 0;
    }

    .cart-container {
        width: 90%;
    }

    .card {
        width: 20%;
        height: 20%;
    }


}